.modal-wrapper {
    margin-top: 10%;
}

.modal-title {
    text-align: center;
}

:global .modal-content {
    border-radius: 0;
}

.content-wrapper {
    position: relative;
    overflow: hidden;
}

.icon {
    position: fixed;
    right: 7px;
    top: 7px;
    font-size: 25px;
    color: white;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.modal-logo-wrapper {
    text-align: center;
}

.logo {
    width: 40%;
}
