.close-button {
    position: absolute;
    top: -120px;
    right: -120px;
    width: 210px;
    height: 210px;
    background-color: #00b0de;
    border-radius: 100%;
}

.button-book-item {
    background-color: #00b0de;
    color: white;
    width: 70%;
    border: none;
    
    &:hover {
        border:none;
        background-color: orange;
        color: white;
    }
}

:global .btn {
    border: 0;

    &:hover,
    &:focus,
    &:active {
        background-color: #e77929!important;
    }
}

