.close-button {
    position: absolute;
    top: -100px;
    right: -100px;
    width: 200px;
    height: 200px;
    background-color: #00b0de;
    border-radius: 100%;

    &:hover {
        border:none;
        background-color: #e77929;
    }
}
.button-book-item {
    background-color: #00b0de;
    color: white;
    width: 70%;
    border: none;
    
    &:hover {
        border:none;
        background-color: orange;
        color: white;
    }
}


