.bookItem{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.itemWrapper{
    width: 200px;
    height: 300px;
    border: solid 3px;
    border-color: grey;
    padding: 10px;
}
.itemWrapper:hover{
    border-color: #00b0de;
}
.bookItemCover{
    width: 100%;
    margin-bottom: 15px;
}
.buttonGroupWrapper{
    text-align: center;
}
.buttonBookItem{
    background-color: #00b0de;
    color: white;
    width: 70%;
}
.buttonWrapper{
    margin-bottom: 10px;
}

