.reader-layout-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow: hidden;
    background-color: #eee;
}

.icon {
    position: absolute;
    left: 35px;
    bottom: 35px;
    font-size: 40px;
    color: #fff;
}

.video-tag-wrapper-left,
.video-tag-wrapper-right {
    position: absolute;
    bottom: 50px;
    z-index: 5;
}

.video-tag-wrapper-left {
    left: 50px;
}

.video-tag-wrapper-right {
    right: 50px;
}
