.body-content {
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

.footer-content {
    text-align: right;
}

.input-wrapper {
    margin-left: 20px;
    display: inline-block;

    input {
        padding: 5px 10px;
        width: 250px;
    }
}

.login-modal-paragraph {
    padding: 0;
    margin-bottom: 10px;
}

