.body-content {
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

.footer-content {
    text-align: right;
}

.form-wrapper {

}

.input-wrapper {
    margin-left: 20px;
    display: inline-block;
}
.login-modal-paragraph {
    padding: 0;
    margin-bottom: 10px;
}

